[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Spotitoast
Comment=Use command line to control Spotify with nice DBUS notification
Exec=../Spotitoast.Linux
Icon=spotitoast.ico
Terminal=false
