[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Spotitoast
Comment=Use command line to control Spotify with nice DBUS notification
Exec=/opt/spotitoast/Spotitoast.Linux
Icon=Spotitoast
Terminal=false